<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gamebooster">

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>

    <application
        android:label="Game Booster"
        android:theme="@android:style/Theme.Holo.Light">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
